{% extends "base.html" %}
{% block title %} Welcome to Vaccination {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Welcome to Vaccinaion</h1>
    <p>Register or Login here !</p>
    <form name="registration-form" action="/register-doctor" method="POST" >
        <label>Name </label>
        <input type="text" name="name" required>
        <label>Email Address </label>
        <input type="email" onfocusout="checkIfUserExists(event)" name="email-address" required>
        <label>ID number </label>
        <input type="text" name="id-number" required>
        <label>Password </label>
        <input type="password" name="password" required>
        <label>Phone Number </label>
        <input type="text" name="phone-number" required>
        <label>Government ID </label>
        <input type="text" name="government-id" required>
        <input type="submit">

    </form>
    <br>
    <form action="/login-doctor" method="POST" >
        <label>Email Address </label>
        <input type="email" name="email-add" required>
        <label>Password </label>
        <input type="password" name="pass" required>
        <input type="submit">
    </form>
    <script src="{{url_for('static', filename='js/validate-users.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    </script>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}