{% extends "base.html" %}
{% block title %} Welcome to Vaccination {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Welcome to Vaccinaion</h1>
    <p>Register or Login here !</p>
    <form>
        <label>Name </label>
        <input type="text" name="name">
        <label>Email Address </label>
        <input type="email" name="email-address">
        <label>ID number </label>
        <input type="text" name="id-number">
        <label>Password </label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <form>
        <label>Email Address </label>
        <input type="email" name="email-address">
        <label>Password </label>
        <input type="password" name="password">
        <input type="submit">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}