{% extends "base.html" %}
{% block title %} Welcome to Vaccination {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <a href= "{{ url_for('logout_doctor') }}" >Logout</a>
    <form name="patient-registration-form" action="{{ url_for('register_patient') }}" method="POST" >
        <label>Name </label>
        <input type="text" name="name" required>
        <label>Email Address </label>
        <input type="email" name="email-address" required>
        <label>Phone Number </label>
        <input type="text" name="phone-number" required>
        <input type="submit">
    </form>
    <hr>
    <br>
    <br>
    <div id="patient-list" >
        <table border="1px" style="border-collapse:collapse;">
            <tr>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Patient Email</th>
                <th>Patient Phone Number</th>
                <th colspan="2">Actions</th>
            </tr>
            {% for patient in patients %}
                <tr>
                    <td>{{patient.id}}</td><td>{{patient.name}}</td><td>{{patient.email}}</td><td>{{patient.phone_number}}</td><td><button><a href="">Update Vaccine Records</a></button></td><td><button><a href="">Email Vaccine Certificate</a></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}